body {
	background-color: rgb(46, 48, 53);
	font-family: "Open sans", sans-serif;
	margin-inline: 20vw;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
}

p {
	color: white;
}

code {
	background-color: rgb(30, 30, 30);
	border: 1px gray solid;
	border-radius: 5px;
}
